/* Resets */

*,
::before,
::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f2e9da;
    display: flex;
    flex-direction: column;
}

/* Header Styling */

#site-header {
    background-color: #1E1A16;
    flex-basis: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    position: sticky;
    top: 0;
}


/* Heading Styling - Header Logo Section */

#header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

#logo-name {
    color: white;
    line-height: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#logo-name span {
    color: #E4C892;
}

#logo-icon {
    border: 1px solid #B87D24;
    border-radius: 50%;
    padding: 0.5rem;
}

/* Header Styling - Nav Toggle Section */

#nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: 1rem;
}

#nav-toggle::before,
#nav-toggle::after,
#nav-toggle input {
    content: "";
    width: 50px;
    height: 8px;
    background-color: #f2e9da;
    border-radius: 1rem;
}

#nav-toggle input {
    appearance: none;
    pointer-events: none;
}

#nav-toggle:has(input:checked) + #nav-container {
    opacity: 1;
    pointer-events: auto;
}

/* Header Styling - Nav Container Section */

#nav-container {
    background-color: #362f27;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    border-top: 1px solid gray;
    pointer-events: none;
    opacity: 0;
}

#nav-links {
    display: flex;
    flex-direction: column;
}

.nav-link,
#nav-action {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 0 10px 0;
}

.nav-link:hover,
#nav-action {
    background-color: #B87D24;
    color: #1E1A16;
}

.nav-link {
    background-color: transparent;
    color: white;
    transition: all 0.1s ease;
}

#nav-action {
    text-transform: uppercase;
    font-weight: bold;
}

/* Footer Styling */

#site-footer {
    background-color: #1E1A16;
    color: #8A8074;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 0;
    flex: 1;
}

#footer-text {
    text-align: center;
    flex-basis: 80%;
    padding: 1rem;
    border-top: 1px solid gray;
}