/* Resets */

*,
::before,
::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Custom Variables */

:root {
    --site-bg-clr: #f2e9da;
    --header-bg-clr: #1E1A16;
    --dropdown-bg-clr: #362f27;
    --accent-clr: #B87D24;
    --hamburger-width: 50px;
    --hamburger-height: 8px;
    --mobile-dropdown-width: 100%;
    --muted-clr: #8A8074;
    --light-txt-clr: white;
}

/* body {
    min-height: 100vh;
    background-color: var(--site-bg-clr);
    display: flex;
    flex-direction: column;
} */

body {
    min-height: 100vh;
    background-color: var(--site-bg-clr);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header Styling */

#site-header {
    background-color: var(--header-bg-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    position: sticky;
    top: 0;
}


/* Heading Styling - Header Logo Section */

#header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

#logo-name {
    color: var(--light-txt-clr);
    line-height: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}

#logo-name span {
    color: #E4C892;
}

#logo-icon {
    border: 1px solid var(--accent-clr);
    border-radius: 50%;
    padding: 0.5rem;
}

/* Header Styling - Nav Toggle Section */

#nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: 1rem;
}

#nav-toggle::before,
#nav-toggle::after,
#nav-toggle input {
    content: "";
    width: var(--hamburger-width);
    height: var(--hamburger-height);
    background-color: var(--site-bg-clr);
    border-radius: 1rem;
}

#nav-toggle input {
    appearance: none;
    pointer-events: none;
}

#nav-toggle:has(input:checked)+#nav-container {
    opacity: 1;
    pointer-events: auto;
}

/* Header Styling - Nav Container Section */

#nav-container {
    background-color: var(--dropdown-bg-clr);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: var(--mobile-dropdown-width);
    border-top: 1px solid var(--muted-clr);
    pointer-events: none;
    opacity: 0;
}

#nav-links {
    display: flex;
    flex-direction: column;
}

.nav-link,
#nav-action {
    border: none;
    border-bottom: 1px solid var(--muted-clr);
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 0 10px 0;
}

.nav-link:hover,
#nav-action {
    background-color: var(--accent-clr);
    color: var(--header-bg-clr);
}

.nav-link {
    background-color: transparent;
    color: var(--light-txt-clr);
    transition: all 0.1s ease;
}

#nav-action {
    text-transform: uppercase;
    font-weight: bold;
}

/* Content Styling */

#content {
    margin-top: 4rem;
}

/* Footer Styling */

#site-footer {
    background-color: var(--header-bg-clr);
    color: var(--muted-clr);
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 1.5rem 0;
}

#footer-text {
    text-align: center;
    flex-basis: 80%;
    padding: 1rem;
    border-top: 1px solid var(--muted-clr);
}

/* Media Queries */

@media (min-width: 1100px) {

    #nav-toggle {
        display: none;
    }

    #nav-container {
        background-color: transparent;
        flex-direction: row;
        position: static;
        width: auto;
        border-top: none;
        pointer-events: auto;
        opacity: 1;
        align-items: center;
        flex-basis: 65%;
    }

    #nav-links {
        flex-direction: row;
        gap: 2rem;
    }

    .nav-link {
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        border-top: 1px solid var(--muted-clr);
        border-left: 1px solid var(--muted-clr);
        border-right: 1px solid var(--muted-clr);
    }

    #nav-action {
        margin-right: 1rem;
        margin-left: auto;
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
    }

}
