/* Resets */

*,
::before,
::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #f2e9da;
    display: flex;
    flex-direction: column;
}

/* Header Styling */

#site-header {
    background-color: #1E1A16;
    flex-basis: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    position: sticky;
    top: 0;
}
